body{
    font-family: "Balsamiq Sans", sans-serif;;
    font-size: 16px;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
a{
    text-decoration: none;
    color: black;
}
header{
    position: sticky;
    background-color: rgb(219, 219, 219);
    margin-top: 0;
    padding-left: 15px;
    border-bottom: 2px solid black;
}
.navbar{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-right: 90px;
}
.navbar .Logo{
    font-size: 2.0rem;
    font-family: "Balsamiq Sans", sans-serif;
  font-weight: 700;
  font-style: normal;
}
.navbar ul{
    display:flex;
}
.navbar ul li{
    list-style: none;
    padding-right: 30px;
}
.navbar ul li a:hover{
    color: brown;
}
section{
    display: none;
    padding: 10px;
}
img{
    display: inline-flex;
  max-width: 500px;
  max-height: 350px;
  object-fit: cover;
  border-radius: 10px;
  margin: 5px;
}